@font-face {
  font-family: 'laRucheFont';
  src:  url('#{$icomoon-font-path}/laRucheFont.eot?g4fqjv');
  src:  url('#{$icomoon-font-path}/laRucheFont.eot?g4fqjv#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/laRucheFont.ttf?g4fqjv') format('truetype'),
  url('#{$icomoon-font-path}/laRucheFont.woff?g4fqjv') format('woff'),
  url('#{$icomoon-font-path}/laRucheFont.svg?g4fqjv#laRucheFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laRucheFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  color: #ff0000;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lricon-play {
  &:before {
    content: $lricon-play;
  }
}
.hide{
  display: none;
}

.pointer{
  cursor:pointer;
}

.layout-column{
  @include flex-function(column,space-around,center)

}

.layout-row{
  @include flex-function(row,space-around,center)
}

.lightbox{
  height:100vh;
  width:100vw;
  position: fixed;
  top:0;
  left:0;
}