@import "reset";
@import "variables";
@import "mixin";
@import "gui";

html,body{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  border:0;
  border-spacing:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
}

main{
  height:100%;
  padding-top:120px;
}

nav{
  position: fixed;
  z-index: 9999;
  background: rgba(238,254,253,0.9);
  height:120px;
  width: 100%;
  -moz-box-shadow: 2px 2px 8px 0px #373737;
  -webkit-box-shadow: 2px 2px 8px 0px #373737;
  -o-box-shadow: 2px 2px 8px 0px #373737;
  box-shadow: 2px 2px 8px 0px #373737;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#373737, Direction=135, Strength=10);
}
.logo{
  position: absolute;
  top:-27px;
  left:4%;
  width:300px;
}

.section{
  display: block;
  height:calc(100% - 120px);
  .section-container{
    height:100%;
    width:100%;
  }
}
.video{
  .section-container{
    @include flex-function(column,space-around,center);
  }
}
.doubleArticle{
  .section-container{
    @include flex-function(row,space-around,center);
  }
}

.cta-content{
  display: block;
  position: absolute;
  border: 1px solid red;
  height:200px;
  width:200px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.cta-content a{
  display: inline-block;
  height:50px;
  width: 50px;
}



@media only screen and (max-device-width : 1024px)  {
  .mail-content,.headline-content{
    display: block;
    width: 100%;
  }
  .mail-content{
    margin-top:50px
  }
  .mail-text, .cta-content{
    width: 100%;
  }
  .headline-content{
    width: 75%;
    position: absolute;
    top:210px;
  }
  .headline-text::after{
    right:0
  }
  .main{
    height: 100%;
  }
}