@import "reset";
@import "mixin";
@import "variables";
@import "gui";

html,body{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  border:0;
  border-spacing:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
}
#closeLightboxVideo{
  position: absolute;
  top:20px;
  right:20px;
}
/*header*/
nav{
  padding: 20px 40px;
  z-index:10;
  a{
    color:$white;
  }
  ul li{
    &:first-child{
      margin-right: 10px;
    }
    a{
      display: block;
      height:100%;
      width:100%;
    }
  }
  .icon{
    font-size: 35px;
  }
}
.header-container{
  background: url("../assets/img/header-background.jpg")no-repeat center center;
  background-size:cover;
  height:50vh;
  position: relative;
  z-index:0;
  &>nav,&>div{
    background:rgba(27,27,27,0.78);
    width:100%;
  }
  &>div{
    flex:1;
  }
  &:before{
    content: '';
    height:100%;
    width:100%;
    z-index:1;
    position: absolute;
    top:0;
    left:0;
  }
  .wrapper{
    height:75%;
  }
}
.header-title{
  h1,h2{
    text-align: center;
    color:$white;
  }
  h2{
    font-size: 22px;
  }
}
/*main*/

/*search*/
.section-container{
  position: relative;
}
.search-input{
  position: absolute;
  top:0;
  left:50%;
  transform:translate(-50%,-25px);
  height:50px;
  width:50vw;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  .icon{
    font-size: 30px;
    position: absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    z-index: 11;
  }
  &:before{
    content: '';
    display: block;
    height:50%;
    width:100%;
    background: $white;
    position: absolute;
    bottom:0;
    left:0;
    -moz-box-shadow: 1px 1px 3px 2px #EEEEEE;
    -webkit-box-shadow: 1px 1px 3px 2px #EEEEEE;
    -o-box-shadow: 1px 1px 3px 2px #EEEEEE;
    box-shadow: 1px 1px 3px 2px #EEEEEE;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, Direction=134, Strength=3);
    border-radius: 3px;
  }
  &:after{
    content: '';
    display: block;
    height:4px;
    width:0;
    background: $yellow;
    position: absolute;
    bottom:0px;
    left:0;
    z-index:10;
    transition:width 0.2s ease;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

  }
  &:hover{
    &:after{
      width:100%;
    }
  }
}


input[type=search] {
  width:100%;
  height: 100%;
  border:none;
  padding:5px 5px 5px 80px;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  z-index:10;
}
input[type=search]:focus {
  outline-style: none;
}

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
}

/*schools*/

.school{
  padding-top: 200px;
}

.school-style{
  h1{
    font-weight:500;
  }
  h2{
    font-weight:400;
  }
}

.left-info{
  width:33%;
  height:100%;
  position: relative;
  .images-container{
    @include flex-function(row,center,center);
    width:100%;
    flex:1;
    position: relative;
    &>div{
      width:30vw;
      height:30vw;
      position:absolute;
      top:0;
      left:50%;
      transform:translate(-50%,-70px);
      &>img{
        width:80%;
        height:auto;
        @include absolute-center();
      }
    }

    .logo-school{
      width:120px;
      height:120px;
      border-radius:60px;
      border:2px solid $blue;
      background: $white;
      position: absolute;
      bottom:20px;
      left:20px;
      img{
        width:80%;
        height:auto;
        @include absolute-center();
      }
    }
  }

}
.right-info{
  height: 100%;
  flex:1;
  padding: 30px 30px 30px 0;
  position: relative;
  color: $blue;
  font-size: 16px;
  h1{
    font-size: 34px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  h2{
    font-size: 20px;
  }
  h1,h2{
    color:$black;
  }
  .school-title{
    margin-bottom: 30px;
  }
  .icon{
    color: $yellow;
    font-size: 55px;
  }
  .liste-3{
    width:100%;
    height:130px;
    margin-bottom:15px;
    li{
      position: relative;
      flex:1;
      height:100%;
      .icon{
        margin-bottom: 15px;
      }
      &>div{
        height:80%;
      }
      &:nth-child(2){
        &:before,&:after{
          content: '';
          display: block;
          height:90%;
          width:1px;
          background: $grey;
          position: absolute;
          top:50%;
          transform:translateY(-50%);
          left:0;
        }
        &:after{
          left:100%;
        }
      }
    }
    &+div{
      width:100%;
      ul{
        width:100%;
      }
    }
  }
  .location{
    border-top: 1px solid $grey;
    height:100px;
    position: relative;
    li{
      height:100%;
      width:100%;
      position: relative;
      &:last-child{
        &:after{
          content: '';
          display: block;
          height:65%;
          width:1px;
          background: $grey;
          position: absolute;
          top:50%;
          transform:translateY(-50%);
          left:0;
        }
      }
    }
    .icon{
      margin-right: 10px;
    }
  }
  .avis{
    border-top: 1px solid $grey;
    position: relative;
    &:after{
      content: '';
      display: block;
      height:80%;
      width:1px;
      background: $grey;
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      right:50%;
    }
  }
  .positif,.negatif{
    flex: 1;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    &>div{
      margin-bottom: 10px;
    }
    li{
      margin-bottom: 5px;
    }
    .icon{
      font-size: 45px;
      margin-right: 10px;
    }
  }
  .positif{

  }
  .duree{
    height:60px;
    width:100%;
    position: relative;
    background: url("../assets/img/cursus.svg")no-repeat center center;
    background-size:110% ;
    margin-bottom: 25px;
    font-size: 14px;
    &>div{
      margin-left: 5px;
    }
    .circle{
      height:60px;
      width:60px;
      border-radius:30px;
      border:2px solid $yellow;
      font-size: 14px;
      background: $white;
      @include absolute-center();
    }
  }

}


main{
  height:100%;
}

.logo{
  width:400px;
}

.firstCTA{
   background: url("../assets/img/bg-first-section.jpg")no-repeat center center;
   background-size:cover;
   color: $white;
}

/*.section{
  display: block;
  height:calc(100% - 100px);
  .section-container{
    height:100%;
    width:100%;
    &>div{
      height:60%;
      @include flex-function(column,space-around,center);
    }
    @include flex-function(column,space-around,center);
    .articleContainer{
      width:100%;
    }
  }
}
.subscribe{
  .lr-CTA{
    @include flex-function(row,space-between,center)
  }
  #fb-connect{
    margin-right: 20px;
  }
}
.sixArticle{
  background: url("../assets/img/sigle_logo_gris.svg")no-repeat center center;
  background-size: contain;
  &.section .section-container>div{
    height:70%;
  }
  .layout-row-top{
    width:100%;
    margin-bottom: 40px;
  }
  .icon{
    margin-bottom: 20px;
  }
  img{
    width:25px;
    height:auto;
    margin-bottom: 20px;

  }
  h1{
    position: relative;
    &:after{
      display: block;
      content: '';
      width:35px;
      height:1px;
      background: $black;
      position: absolute;
      bottom:-15px;
      left:50%;
      transform: translateX(-50%);
    }
  }
  article{
    width:23%;
    text-align: center;
    h3{
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 400 ;
      font-size: 16px;
    }
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.video{
  position: relative;
  background-size: cover;
  .player-action{
    width:100%;
    height:100%;
    background: url("../assets/img/player.svg")no-repeat center center;
  }
  &.section .section-container>div{
    height:80%;
  }
}

.hive{
  display: block;
  content: '';
  height:100vh;
  width:50vw;
  position: absolute;
  font-size: 0;
  overflow: hidden;
  background-size:contain ;
}
.hive1{
  top:0;
  left:-15vw;
  background: url("../assets/img/bg_video-01.svg")no-repeat center center;
}
.hive2{
  bottom:-10vh;
  right:-15vw;
  background: url("../assets/img/bg_video-02.svg")no-repeat center center;
}

*/
/*
@media screen and (max-width: 1024px ){
  .sixArticle .layout-row-top{
    @include flex-function(column,space-around,center);
    .section-container{
      @include flex-function(column,space-around,center);
      &>div{
        @include flex-function(column,space-around,center);
      }
    }
  }
  .logo{
    width:175px;
  }
  .section{
    h1{
      text-align: center;
    }
  }
  .sixArticle.section{
    height:200%;
  }
  .sixArticle.section .section-container>div{
    height:80%;
    article{
      width:60%;
      margin-bottom: 40px;
    }
  }

}

*/

/*.lr-CTA {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 18px;
  border-radius: 100px;
  border-bottom: 1px solid rgba(255, 212, 29, 0.5);
  background: rgb(255, 212, 29);
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lr-CTA:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

.lr-CTA:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgb(255, 212, 29);
}

.social-CTA img{
  width:100px;
  transition: all .4s ease;
}
.social-CTA:hover img{
  transform:scale(1.1);
}*/



/*@media only screen and (max-device-width : 1024px)  {
  .mail-content,.headline-content{
    display: block;
    width: 100%;
  }
  .mail-content{
    margin-top:50px;
  }
  .mail-text, .cta-content{
    width: 100%;
  }
  .headline-content{
    width: 75%;
    position: absolute;
    top:210px;
  }
  .headline-text::after{
    right:0
  }
  .main{
    height: 100%;
  }
  .logo{
    width:175px;
  }
  .sixArticle .layout-row-top{
    @include flex-function(column,center,center);
  }
  .sixArticle .layout-row-top{
    @include flex-function(column,space-around,center);
    .section-container{
      @include flex-function(column,space-around,center);
      &>div{
        @include flex-function(column,space-around,center);
      }
    }
  }
  .sixArticle.section{
    height:200%;
  }
  .sixArticle.section .section-container>div{
    height:80%;
    article{
      width:60%;
      margin-bottom: 40px;
    }
  }
}

*/
/*
@media screen and (max-width:640px){
  .sixArticle.section {
    height: 265%;
  }
  .layout-row{
    flex-direction: column;
  }
  .subscribe #fb-connect{
    margin:0;
    margin-bottom: 15px;
  }
  .hive{
    width:70vw;
  }
  .hive1{
    background: url("../assets/img/bg_video-01.svg")no-repeat top center;
  }
  .hive2{
    background: url("../assets/img/bg_video-02.svg")no-repeat bottom center;
  }
}

*/