@import "reset";
@import "mixin";
@import "variables";
@import "gui";

html,body{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  border:0;
  border-spacing:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
}

main{
  height:100%;
  padding-top:100px;
}

nav{
  position: fixed;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 10;
  background: #000;
  width: 100%;
  -moz-box-shadow: 2px 2px 8px 0px #373737;
  -webkit-box-shadow: 2px 2px 8px 0px #373737;
  -o-box-shadow: 2px 2px 8px 0px #373737;
  box-shadow: 2px 2px 8px 0px #373737;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#373737, Direction=135, Strength=10);
  @include flex-function(row,space-between,center);
  height:100px;
  ul{
    @include flex-function(row,flex-end,center);
    a{
      color:$white;
      margin-left: 15px;
      font-size: 40px;
    }
  }
}
.logo{
  width:300px;
}
.firstCTA{
  background: url("../assets/img/bg-first-section.jpg")no-repeat center center;
  background-size:cover;
  color: $white;
}

.section{
  display: block;
  height:calc(100% - 100px);
  .section-container{
    height:100%;
    width:100%;
    &>div{
      height:60%;
      @include flex-function(column,space-around,center);
    }
    @include flex-function(column,space-around,center);
    .articleContainer{
      width:100%;
    }
  }
}
.subscribe{
  .lr-CTA{
    @include flex-function(row,space-between,center)
  }
  #fb-connect{
    margin-right: 20px;
  }
}
.sixArticle{
  background: url("../assets/img/sigle_logo_gris.svg")no-repeat center center;
  background-size: contain;
  &.section .section-container>div{
    height:70%;
  }
  .layout-row-top{
    width:100%;
    margin-bottom: 40px;
  }
  .icon{
    margin-bottom: 20px;
  }
  img{
    width:25px;
    height:auto;
    margin-bottom: 20px;

  }
  h1{
    position: relative;
    &:after{
      display: block;
      content: '';
      width:35px;
      height:1px;
      background: $black;
      position: absolute;
      bottom:-15px;
      left:50%;
      transform: translateX(-50%);
    }
  }
  article{
    width:23%;
    text-align: center;
    h3{
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 400 ;
      font-size: 16px;
    }
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.video{
  position: relative;
  background-size: cover;
  .player-action{
    width:100%;
    height:100%;
    background: url("../assets/img/player.svg")no-repeat center center;
  }
  &.section .section-container>div{
    height:80%;
  }
}

.hive{
  display: block;
  content: '';
  height:100vh;
  width:50vw;
  position: absolute;
  font-size: 0;
  overflow: hidden;
  background-size:contain ;
}
.hive1{
  top:0;
  left:-15vw;
  background: url("../assets/img/bg_video-01.svg")no-repeat center center;
}
.hive2{
  bottom:-10vh;
  right:-15vw;
  background: url("../assets/img/bg_video-02.svg")no-repeat center center;
}

@media screen and (max-width: 1024px ){
  .sixArticle .layout-row-top{
    @include flex-function(column,space-around,center);
    .section-container{
      @include flex-function(column,space-around,center);
      &>div{
        @include flex-function(column,space-around,center);
      }
    }
  }
  .logo{
    width:175px;
  }
  .section{
    h1{
      text-align: center;
    }
  }
  .sixArticle.section{
    height:200%;
  }
  .sixArticle.section .section-container>div{
    height:80%;
    article{
      width:60%;
      margin-bottom: 40px;
    }
  }

}



@media only screen and (max-device-width : 1024px)  {
  .mail-content,.headline-content{
    display: block;
    width: 100%;
  }
  .mail-content{
    margin-top:50px;
  }
  .mail-text, .cta-content{
    width: 100%;
  }
  .headline-content{
    width: 75%;
    position: absolute;
    top:210px;
  }
  .headline-text::after{
    right:0
  }
  .main{
    height: 100%;
  }
  .logo{
    width:175px;
  }
  .sixArticle .layout-row-top{
    @include flex-function(column,center,center);
  }
  .sixArticle .layout-row-top{
    @include flex-function(column,space-around,center);
    .section-container{
      @include flex-function(column,space-around,center);
      &>div{
        @include flex-function(column,space-around,center);
      }
    }
  }
  .sixArticle.section{
    height:200%;
  }
  .sixArticle.section .section-container>div{
    height:80%;
    article{
      width:60%;
      margin-bottom: 40px;
    }
  }
}


@media screen and (max-width:640px){
  .sixArticle.section {
    height: 265%;
  }
  .layout-row{
    flex-direction: column;
  }
  .subscribe #fb-connect{
    margin:0;
    margin-bottom: 15px;
  }
  .hive{
    width:70vw;
  }
  .hive1{
    background: url("../assets/img/bg_video-01.svg")no-repeat top center;
  }
  .hive2{
    background: url("../assets/img/bg_video-02.svg")no-repeat bottom center;
  }
}