/*height*/
$navHeight:120px;

/*color*/

$yellow:#ffd41d;
$blue:#2a2eb2;
$black:#1B1B1B;
$white:#FFF;
$grey:#dadada;

/*icons*/

$lricon-facebook: "\e900";
$lricon-fleche_en_savoir_plus: "\e901";
$lricon-maison: "\e903";
$lricon-maps: "\e904";
$lricon-negative: "\e905";
$lricon-pig: "\e906";
$lricon-postitive-01: "\e907";
$lricon-scroll: "\e908";
$lricon-search: "\e909";
$lricon-Taux_reussite-path1: "\e90a";
$lricon-Taux_reussite-path2: "\e90b";
$lricon-Taux_reussite-path3: "\e90c";
$lricon-twitter: "\e90d";


/*font path*/

$icomoon-font-path: "/assets/fonts" !default;

