/*height*/
$navHeight:120px;

/*color*/

$primary:#ff0000;
$secondary:#ff0000;
$white:#FFFFFF;
$yellow:#ffd41d;
$black:#000000;

/*icons*/

$lricon-facebookalve: "\e900";
$lricon-snapchatalve: "\e901";
$lricon-twitteralve: "\e902";

/*font path*/

$icomoon-font-path: "/assets/fonts" !default;

